.sidebar {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px;
  padding-right: 5px;
}

.sidebar__header {
  padding: 10px 5px;
}

.speech-actions-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  flex: 1;
}

.speech-actions-list__item {
  padding: 3px;
  width: calc(100% / 3);
  cursor: pointer;
}
