.speech-action {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.speech-action__drag-handle {
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.speech-action__drag-handle svg {
  color: #bdc3c7;
}

.speech-action--border {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #bdc3c7;
}

.speech-action__img {
  height: 65%;
}

.speech-action__title {
  font-size: 18px;
}

.speech-action__translation {
  font-size: 12px;
  margin-top: 5px;
  color: #95a5a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speech-action__item {
  background: white;
}

.speech-action__item:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.speech-action__item .speech-action__title {
  font-size: 12px;
}

.speech-action__item .speech-action__img {
  width: 100%;
}

.speech-action__template-item .speech-action__img {
  width: auto;
  max-width: 100%;
  max-height: 70%;
  border: 1px solid transparent;
}

.speech-action__template-item .speech-action__text {
  width: auto;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speech-action__text--middle {
  justify-content: center;
}

.speech-action--blank .speech-action__img {
  max-height: 98%;
  height: auto;
}
